body {
    margin: 0px;
    font-family: 'Comfortaa', cursive;
    
}
.header {
    background-color: #56cfe1;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img {
    width: 95px;
    height: 95px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 50%;
    }

.login{
    background: linear-gradient(#56cfe1,#6930c3);
    display: flex;
   align-items: center;
    justify-content:center ;
    flex-direction:column ;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container{
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px;
    min-height: 700px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form{
display: flex;
flex-direction: column;
}


.login__container--register {
    color:white;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}    

.login__container--register a:hover{
    text-decoration: underline;
} 

.input{
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Comfortaa', cursive; 
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

::placeholder{
    color:white;
}

.button{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-radius: 25px;
    border: none;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}

footer{
    background-color: #6930c3;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

footer a{
    color:white;
    cursor:pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}